<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8").
		meta(name="viewport" content="width=device-width, initial-scale=1.0").
		title SOS_3D
		link(rel="stylesheet" href="assets/style.css").
	body
		.header
			.header_wrapper
				.face
					img(src="images/face.png" alt="face")
				.text_block
					h2 Результат через <br><span>1,5 минуты!</span>
					h1 SOS-3D <br>intensive
					.descr
						p гель-лифтинг против морщин<br> для кожи вокруг глаз
					.jars
						img(src="images/5jars.png" alt="gel")
						.roundBack
			.button_show_order
				.button#button
					span &rang;
			.order#order
				.descr
					.descr__item.one
						p Полностью разглаживает даже глубокие морщины
					.descr__item.two
						p Расслабляет мимические мышцы, не парализуя их
					.descr__item.three
						p Комплексное омоложение всех слоёв кожи
				include jade/orderForm.jade
		.about
			.blue_halpfprint
				img(src="images/blue_halpfprint.png" alt="blueprint")
			h2 <span>Что такое</span> SOS-3D?
			.about_box
				.image_box
					.image
						img(src="images/eye-surgery.png" alt="eye-surgery")
					.button Заказать
				.text_box
					h3 SOS-3D INTENSIVE
					.descr
						p гель-лифтинг против морщин<br> для кожи вокруг глаз
					.full_descr
						p Основной задачей, которая ставилась при разработке этого косметического продукта – была скорость эффекта разглаживания морщин, так называемый эффект SOS или скорой помощи, когда нужно быстро привести свое лицо к идеально возможному внешнему виду. Это достижимо на сегодняшнем технологическом уровне! В процессе изготовления геля были использованы две группы активов – тактические (быстрого действия) и стратегические (долгосрочного, накопительного действия) и сделана ставка на все большее улучшение внешнего вида особо проблемных зон при каждом использовании, что дает возможность получать эффект мгновенного разглаживания морщин и запустить естественные механизмы восстановления и омоложения – без побочных эффектов, которыми уже прославились на мировом рынке экстремально-быстрые средства.
			h2 <span>Результат</span> работы геля<br> заметен уже    <span>после первой минуты!</span>
			.before_after
				img(src="images/before-after.png" alt="eye-surgery")
		.secret
			.whiteprint
				img(src="images/whiteprint.png" alt="whiteprint")
			h2 В чем секрет <span>SOS-3D?</span>
			.content_box
				p Water, Tripeptide («Syn-Ake»тм), Glycerin, Palmitoyl Tripeptide–5 («Syn-Coll»тм), Acacia senegal gum (Easyliance), Petroselinum crispum (Parsley) Leaf Extract, Sodium Carbomer, Sodium Polyacrylate, Sodium Hyaluronate («Cube3»тм), DMDM hydantoin, PEG–40 Hydrogenated Castor Oil, Parfum.
			.content_descr
				.face_pic
					img(src="images/cataract-surgery.png" alt="cataract-surgery")
					.blueprint
						img(src="images/bluerPrintOrder.png" alt="face")
					.yellowprint
						img(src="images/yellowPrintOrder.png" alt="face")
				.content_descr_items
					.items
						.items_box
							span Easyliance
						p оптимизированная смесь двух ингредиентов, обладающих синергическим действием: Смола Акации - смола африканского дерева, и Полисахарид (биополимер, естественно вырабатываемый микроорганизмами, которые развиваются в симбиозе с корнями растения).Полимер создает пленку на поверхности кожи, пленка сокращается при высыхании, происходит натяжение и разглаживание морщин. Быстрый и видимый лифтинговый эффект на коже вокруг глаз при 100% натуральном составе, сертифицированном Ecocert как актив для органической косметики.
					.items
						.items_box
							span Cube 3
						p инновационный продукт, содержащий гиалуронаты натрия с различными молекулярными весами ( от 50 до 3000 кДа). Что это дает? – Три эффекта: - подтягивающее действие (лифтинг) за счет гиалуроната высокого молекулярного веса, работающего на поверхности кожи; - улучшение общего здоровья эпидермиса; - усиленное проникновение в кожу низкомолекулярных фракций, стимулирующих выработку эндогенных омолаживающих компонентов – эластина.
						p Результатом применения актива является увеличение эластичности кожи (13% в течение 30 минут), увлажненности кожи (25% за 2 часа), снижение потери влаги через кожу на 24% за 2 часа, уменьшение глубины морщин и увеличение гладкости кожи от 4,5 до 8% в период от 30 до 120 минут после нанесения. Накопительный омолаживающий эффект.
					.items
						.items_box
							span Syn-Ake
						p оригинальная разработка швейцарских учёных, удостоенная в 2006 году награды Swiss Technology Award (Швейцарская Технологическая Премия). Актив был создан для эффективного разглаживания и борьбы с мимическими морщинами путем расслабления лицевых мышц.
						p Это высокотехнологичный продукт, синтетический аналог пептида змеи. Пептид SYN-AKE имеет эффект, сходный с действием токсинов из яда, расслабляя мимическую мускулатуру, а также разглаживает мелкие мимические морщины и предотвращает их появление. Безопасная замена ботоксу. Имеет также прекрасный эффект выравнивания тона кожи.
					.items
						.items_box
							span SYN-Coll
						p это швейцарский биоактивный, глубоко проникающий в кожу трипептид, активирующий тканевый фактор роста (TGF-beta), который стимулирует синтез коллагена в коже, тем самым, улучшая структуру кожи и уменьшая появление морщин.
		.components
			h2 Компоненты SOS-3D <span>способствуют:</span>
			.components_items
				.item
					h3.yell Удержанию влаги
					p низкомолекулярная фракция гиалуроновой кислоты быстро проникает в кожу, способствуя удержанию влаги и накопительному эффекту, проявляя свое действие все больше и больше с каждым применением;
				.item
					h3 Образованию пленки
					p средние и высокомолекулярные фракции гиалуроновой кислоты, оставаясь на поверхности кожи, после испарения жидкой составляющей образуют полимерную дышащую пленку, механически разглаживающую мимические морщины;
				.item
					h3 Разглаживанию кожи
					p пептидный комплекс SYN-AKE, входящий в состав геля, имеет ботокс-эффект и расслабляет мимические мышцы, также способствуя разглаживанию кожи;
				.item
					h3.yell Выработке коллагена
					p пептидный комплекс SYN-COLL стимулирует выработку собственного кожного коллагена заменяя мезотерапию коллагеновыми инъекциями.
			.mintprint
				img(src="images/mintprint.png" alt="mintprint")
		.recomedation_line
			.another_whiteprint
				img(src="images/whiteprint.png" alt="whiteprint")
			b Гель следует наносить очень тонким слоем, нежными движениями на область<br> кожи вокруг глаз, оставлять до полного впитывания и высыхания. 
		.results
			h2 <span>Результаты</span> применения SOS-3D
			.result_items
				.image
					img(src="images/result1.png" alt="result1")
				.descr
					h4 «Морщины разгладились, как по волшебству!»
					span Зинаида Михайловна, 52 года, Москва
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.
			.result_items
				.image
					img(src="images/result2.png" alt="result2")
				.descr
					h4 «На уколы больше никогда не соглашусь»
					span Олег Петрович, 48 лет, Москва
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.
			.result_items
				.image
					img(src="images/result3.png" alt="result3")
				.descr
					h4 «Кожа подтянулась и освежилась»
					span Мария Ивановна, 55 лет, Москва
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.
		.pre_footer
			include jade/orderForm.jade
		.footer
			h6 Остались вопросы? Напишите нам
			button Задать вопрос

	script(src="assets/script.js")













